[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
webdriver-manager = "*"
selenium = "*"
xlwings = "*"

[scripts]
build = "pyinstaller --clean --onefile  index.py"

[dev-packages]
python-dotenv = "*"
pyinstaller = "*"

[requires]
python_version = "3.8"
